<!DOCTYPE html>
<section id="top-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <p>“One of the best cakes experiences” - The Elixir Magazine</p>
      </div>
    </div>
  </div>
</section>
<section id="middle-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
        <ul class="align-items-top d-flex justify-content-top social-media">
          <li>
            <a href="https://www.facebook.com" target="_blank"
              ><span
                class="iconify facebook-icon"
                data-inline="false"
                data-icon="brandico:facebook-rect"
                style="color: #000000;"
              ></span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <span
                class="iconify"
                data-inline="false"
                data-icon="ant-design:instagram-filled"
                style="color: #000000;"
              ></span>
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com" target="_blank">
              <span
                class="iconify"
                data-inline="false"
                data-icon="bx:bxl-pinterest"
                style="color: #000000;"
              ></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg">
        <ul id="logo">
          <a href="index.html">
            <img
              src="https://ik.imagekit.io/2a1in3cldn/logo_k8y5prSBQZS8K.png"
              alt="Hansel's Bakery Logo"
            />
          </a>
        </ul>
      </div>
      <div class="col-lg">
        <ul id="join-us">
          <li>
            <a href="#" class="clickCustomModal">JOIN US</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="bottom-section">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="index.html" id="logo-dropdown-nav"
      ><img
        src="https://ik.imagekit.io/2a1in3cldn/logo_for_dropdown_nav_sLRnzaogA.png"
        alt="Hansel's Bakery Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" id="menu">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="menu.html">Menu</a>
        </li>
        <li>
          <a href="bookings.html">Bookings</a>
        </li>
        <li>
          <a href="gallery.html">Gallery</a>
        </li>
        <li>
          <a href="about.html">Our Story</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <a id="back-to-top-button" href="#" class="btn btn-light btn-lg" role="button"><i class="fas fa-chevron-up"></i></a>
</section>
