/*----------------------- GLOBOL IMPORTS -----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Playfair+Display");

/*----------------------- GLOBAL STYLES START -----------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 2px;
  color: #000000;
}

/* CARD BORDER GENERIC STYLES */

.frame-border {
  width: 100%;
  margin: 20px 20px 20px 20px;
  padding: 25px 35px 25px 35px;
  border: 5px solid #fff;
}
.inner-row .col-sm {
  margin: 0;
  padding: 0;
}

/* SECTION TITLE GENERIC STYLES */

.custom-section-title h1 {
  display: flex;
  height: 100px;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  background-color: #daddda;
  overflow: hidden;
}
.custom-section-title > .col-auto {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
}

/*----------------------- GLOBAL STYLES END -----------------------*/

/*----------------------- HOME PAGE STYLE START -----------------------*/

/* MENU STYLES */

#menu,
#menu li,
#menu a {
  margin: auto 0;
  padding: 10px 10px 10px 10px;
}

#menu a {
  text-decoration: none;
  color: #eeba2b;
}

#menu li {
  list-style: none;
}

#menu {
  font-size: 18px;
  list-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#menu a:hover {
  color: #fff;
  transition: color 450ms ease-in;
}

.navbar-toggler-icon {
  color: #eeba2b;
}

.navbar,
.navbar-dark {
  background-color: #000;
}
.navbar .navbar-collapse {
  text-align: center;
  justify-content: center;
}

/* SOCIAL MEDIA STYLES */

.social-media a {
  text-decoration: none;
  color: #000000;
}
.social-media li {
  display: inline-block;
  list-style: none;
}
.social-media {
  font-size: 18px;
  list-style: none;
  letter-spacing: 2px;
}

.social-media a {
  padding: 3px 3px 3px 3px;
}

.iconify {
  width: 30px;
  height: 30px;
}

.facebook-icon {
  margin: auto 0;
  width: 25px;
  height: 25px;
}

/*JOIN US STYLES */

#join-us a {
  text-decoration: none;
  color: #000000;
}

#join-us li {
  display: inline-block;
  list-style: none;
}

#join-us {
  font-size: 18px;
  list-style: none;
  letter-spacing: 2px;
  text-align: right;
}
#join-us a:hover {
  color: gray;
  transition: color 450ms ease-in;
}

/*LOGO STYLES */

#logo img {
  width: 300px;
  height: 300px;
}

/* CONTAINER STYLES */

#top-section {
  text-align: center;
  padding-top: 20px;
  background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(114, 114, 114, 0.3);
}

#middle-section {
  text-align: center;
}

/*----------------------- HEADER STYLE END -----------------------*/

/*----------------------- CASOUSEL SECTION STYLE START -----------------------*/

#carousel-outer {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#carousel-container {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#carousel-cover-text {
  float: right;
  margin: auto;
  padding: 0px;
  width: 800px;
  height: 140px;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 14% 50%, 0% 0%);
  background: rgba(0, 0, 0, 0.5);
}
#carousel-cover-text p {
  margin: auto;
  padding-top: 20px;
  padding-left: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
.card-img-overlay {
  position: absolute;
  text-align: center;
  margin-top: 300px;
  margin-right: 0;
  padding-right: 0;
  margin-left: auto;
}
/*----------------------- CAROUSEL SECTION STYLE END -----------------------*/

/*----------------------- FEATURED PRODUCTS SECTION STYLE START -----------------------*/

#featured-section {
  margin: auto;
  padding: 0px;
  background-color: #858e82;
}

#featured-section .card {
  height: 100%;
  border: 5px solid #ffffff;
  filter: drop-shadow(0px 32px 64px rgba(17, 17, 17, 0.08));
  overflow: hidden;
}

#featured-section .card-body {
  background-color: #eeba2b;
}

#featured-section .card-title {
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
  text-align: left;
}
#featured-section .card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

/*----------------------- FEATURED PRODUCTS SECTION STYLE END -----------------------*/

/*----------------------- EVENT & SHOP ADDRESS SECTION STYLE START -----------------------*/

#event-section {
  background-color: #eeba2b;
}

#event-section .card {
  background: rgba(133, 142, 130, 0.3);
  border: 5px solid #fff;
  height: 100%;
}
#event-section img {
  width: 100%;
  height: 100%;
}
#event-section p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
#event-section h5 {
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}
#event-section .btn {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;

  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  letter-spacing: 2px;
  color: #000000;
  background: rgba(238, 186, 43, 0.5);
}

#event-section .btn:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}
#event-section .col-md {
  padding: 20px 20px 20px 20px;
}

/*----------------------- EVENT & SHOP ADDRESS SECTION STYLE END -----------------------*/

/*----------------------- FOOTER SECTION STYLE START -----------------------*/

#footer-nav {
  background-color: #383535;
}

#footer-nav a {
  color: #eeba2b;
  font-size: 16px;
  font-weight: 200;
}

#footer-nav h3 {
  text-transform: uppercase;
  color: #eeba2b;
  font-weight: 600;
  font-size: 16px;
}

#footer-nav li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer-nav a,
#footer-nav li {
  text-decoration: none;
  list-style: none;
}

#footer-nav a:hover {
  color: #fff;
  transition: color 450ms ease-in;
}

#footer-nav label {
  color: #eeba2b;
}
#footer-nav .col-sm {
  padding: 10px 10px 10px 10px;
}

#footer-form .btn {
  margin-top: 5px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  color: #000000;
  background: rgba(238, 186, 43, 0.5);
}

#footer-form .btn:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}

#footer-copyright {
  background-color: #000;
  color: #eeba2b;
}

/*----------------------- HOME PAGE END -----------------------*/

/*----------------------- BAKERY MENU PAGE STYLE START -----------------------*/

#bakery-menu {
  background-color: #eeba2b;
}
#bakery-menu .card {
  border: 0;
  background: rgba(240, 240, 240, 0.5);
  width: 100%;
  height: 100%;
}
#bakery-menu .card-body {
  width: 100%;
  height: 100%;
}
#bakery-menu h5 {
  font-weight: 600;
  padding: 20px;
}
#bakery-menu p {
  padding: 10px;
}

#download-menu .card-body {
  width: 100%;
  height: 100%;
}

#download-menu a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.06));
  background: rgba(238, 186, 43, 0.5);
  border-radius: 40px;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

#download-menu p {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration-line: underline;
}

/*----------------------- BAKERY MENU PAGE STYLE END -----------------------*/

/*----------------------- BOOKINGS PAGE STYLE START -----------------------*/

#bookings {
  background-color: #858e82;
}

#bookings .inner-row {
  background: rgba(240, 240, 240, 0.5);
}
#bookings label {
  width: 120px;
}

#bookings input,
#bookings select {
  width: 250px;
}

#bookings button {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.06));
  background: rgba(238, 186, 43, 0.5);
  border-radius: 40px;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

#bookings button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}

/*----------------------- BOOKINGS PAGE STYLE END -----------------------*/

/*----------------------- GALLERY PAGE STYLE START -----------------------*/

#gallery-section {
  background-color: rgba(133, 142, 130);
}

#gallery-section .card {
  border: 5px solid #fff;
}

#gallery-section .card-header {
  background-color: #eeba2b;
}
#gallery-section .nav-pills {
  border: 5px solid #fff;
}
#gallery-section .nav-pills a {
  color: #000;
  border-radius: 0px;
}
#gallery-section img {
  border: 0px;
}
#gallery-section .nav-pills .active {
  background-color: #eeba2b;
}

#gallery-section .nav-pills a:active {
  background-color: #eeba2b;
  color: #fff;
}

#gallery-section .nav-pills a:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}

/*----------------------- GALLERY PAGE STYLE END -----------------------*/

/*----------------------- ABOUT PAGE STYLE START -----------------------*/

#about-section {
  margin: 0 auto;
  padding: 0;
  background-color: #858e82;
}
#about-section .card-body {
  padding: 10px 10px 10px 10px;
  background: rgba(240, 240, 240, 1);
}

#about-section .card-text {
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 4px;
  color: #000000;
}

#about-section .card {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
}

/*----------------------- ABOUT PAGE STYLE END -----------------------*/

/*----------------------- CONTACT PAGE STYLE START -----------------------*/

#contact-form-section {
  background-color: #eeba2b;
}

#contact-form-section .inner-row {
  background: rgba(240, 240, 240, 0.5);
}
#contact-form-section label {
  width: 120px;
}

#contact-form-section input,
#contact-form-section textarea {
  width: 200px;
}

#contact-form-section button {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.06));
  background: rgba(238, 186, 43, 0.5);
  border-radius: 40px;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  width: 150px;
}

#contact-form-section button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}

/*----------------------- CONTACT PAGE STYLE END -----------------------*/

.joinUs .modal-body,
.joinUs .modal-header,
.joinUs .modal-footer {
  background-color: #eeba2b;
}

.joinUs button {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.06));
  background: rgba(238, 186, 43, 0.5);
  border-radius: 40px;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

.joinUs button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}

#customer-service .modal-body,
#customer-service .modal-header,
#customer-service .modal-footer {
  background-color: #858e82;
}

#product-information .modal-body,
#product-information .modal-header,
#product-information .modal-footer {
  background-color: #858e82;
}
#privacy-policy .modal-body,
#privacy-policy .modal-header,
#privacy-policy .modal-footer {
  background-color: #858e82;
}

#testimonials .modal-body,
#testimonials .modal-header,
#testimonials .modal-footer {
  background-color: #858e82;
}

#privacy-policy .modal-body,
#product-information .modal-body,
#customer-service .modal-body,
#testimonials .modal-body {
  color: #fff;
}

#formResponseModal .modal-body,
#formResponseModal .modal-header,
#formResponseModal .modal-footer {
  background-color: #858e82;
}

#imgModal .modal-body,
#imgModal .modal-header,
#imgModal .modal-footer {
  background-color: #858e82;
}

#formResponseModal .modal-body {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  #top-section,
  #middle-section,
  #logo-dropdown-nav {
    display: none;
  }
}

@media only screen and (min-width: 450px) and (max-width: 990px) {
  #logo-dropdown-nav {
    display: inline-block;
  }
  #logo-dropdown-nav img {
    width: 350px;
    height: 70px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 449px) {
  #logo-dropdown-nav {
    display: inline-block;
  }
  #logo-dropdown-nav img {
    width: 200px;
    height: 45px;
  }

  #event-section h5,
  #featured-section .card-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 991px) {
  #logo-dropdown-nav {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 574px) {
  #footer-form,
  #footer-sitemap,
  #footer-about {
    align-items: center;
    justify-content: left;
  }
}

@media only screen and (min-width: 575px) and (max-width: 770px) {
  #footer-form,
  #footer-sitemap,
  #footer-about {
    justify-content: center;
  }
}

@media only screen and (min-width: 375px) and (max-width: 575px) {
  #featured-section .card {
    width: 350px;
    height: 100%;
  }
  #featured-section .card-title {
    font-size: 16px;
  }
  #featured-section .card-text {
    font-size: 14px;
  }
  #event-section p{
      padding: 0;
      margin: 0;
  }

   #event-section .col{
      padding: 0;
      margin: 0;
  }
}
