/*----------------------- GLOBOL IMPORTS -----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Playfair+Display&display=swap");

/*----------------------- GLOBAL STYLES START -----------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 2px;
  color: #000000;
}

/* CARD BORDER GENERIC STYLES */

.frame-border {
  width: 100%;
  margin: 20px 20px 20px 20px;
  padding: 25px 35px 25px 35px;
  border: 5px solid #fff;
}
.inner-row .col-sm {
  margin: 0;
  padding: 0;
}

/* SECTION TITLE GENERIC STYLES */

.custom-section-title h5 {
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  border: 5px solid #fff;
  background-color: #daddda;
  overflow: hidden;
}
.custom-section-title > .col-auto {
  margin-top: 50px;
}

/*----------------------- GLOBAL STYLES END -----------------------*/

/*----------------------- HOME PAGE STYLE START -----------------------*/

/* MENU STYLES */

#menu,
#menu li,
#menu a {
  margin: auto 0;
  padding: 10px 10px 10px 10px;
}

#menu a {
  text-decoration: none;
  color: #eeba2b;
}

#menu li {
  list-style: none;
}

#menu {
  font-size: 18px;
  list-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#menu a:hover {
  color: #fff;
  transition: color 450ms ease-in;
}

.navbar-toggler-icon {
  color: #eeba2b;
}

.navbar,
.navbar-dark {
  background-color: #000;
}
.navbar .navbar-collapse {
  text-align: center;
  justify-content: center;
}

/* SOCIAL MEDIA STYLES */

.social-media a {
  text-decoration: none;
  color: #000000;
}
.social-media li {
  display: inline-block;
  list-style: none;
}
.social-media {
  margin: auto;
  font-size: 18px;
  list-style: none;
  letter-spacing: 2px;
  text-align: left;
}

.iconify {
  margin: auto 0;
  width: 30px;
  height: 30px;
}

.facebook-icon {
  margin: auto 0;
  width: 25px;
  height: 25px;
}

/*JOIN US STYLES */

#join-us a {
  text-decoration: none;
  color: #000000;
}

#join-us li {
  display: inline-block;
  list-style: none;
}

#join-us {
  font-size: 18px;
  list-style: none;
  letter-spacing: 2px;
  text-align: right;
}
#join-us a:hover {
  color: gray;
  transition: color 450ms ease-in;
}

/*LOGO STYLES */

#logo img {
  width: 300px;
  height: 300px;
}

/* CONTAINER STYLES */

#top-section {
  text-align: center;
  padding-top: 20px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(114, 114, 114, 0.3);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

#middle-section {
  text-align: center;
}

/*----------------------- HEADER STYLE END -----------------------*/

/*----------------------- CASOUSEL SECTION STYLE START -----------------------*/

#carousel-outer {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#carousel-container {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100%;
}
#carousel-cover-text {
  float: right;
  margin: auto;
  padding: 0px;
  width: 800px;
  height: 140px;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 14% 50%, 0% 0%);
  background-color: rgba(238, 186, 43, 0.39);
}
#carousel-cover-text p {
  margin: auto;
  padding-top: 20px;
  padding-left: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2px;
  color: #dddede;
}
.card-img-overlay {
  position: absolute;
  text-align: center;
  margin-top: 250px;
  margin-right: 0px;
  padding-right: 0px;
}
/*----------------------- CAROUSEL SECTION STYLE END -----------------------*/

/*----------------------- FEATURED PRODUCTS SECTION STYLE START -----------------------*/

#featured-section {
  margin: auto;
  padding: 0px;
  background: rgba(133, 142, 130, 0.3);
}

#featured-section .card {
  height: 100%;
  border: 5px solid #ffffff;
  filter: drop-shadow(0px 32px 64px rgba(17, 17, 17, 0.08));
  overflow: hidden;
}

#featured-section .card-body {
  background-color: #eeba2b;
}

#featured-section .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
  text-align: left;
}
#featured-section .card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.products-spacing .col-sm {
  padding: 15px 15px 15px 15px;
}

/*----------------------- FEATURED PRODUCTS SECTION STYLE END -----------------------*/

/*----------------------- EVENT & SHOP ADDRESS SECTION STYLE START -----------------------*/

#event-section {
  background-color: #eeba2b;
}

#event-section .card {
  background: rgba(133, 142, 130, 0.3);
  border: 5px solid #fff;
  height: 100%;
}
#event-section img {
  width: 100%;
  height: 100%;
}
#event-section p {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
#event-section h5 {
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}
#event-section .btn {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;

  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  letter-spacing: 2px;
  color: #000000;
  background: rgba(238, 186, 43, 0.5);
}

#event-section .btn:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}
#event-section .col-sm {
  padding: 20px 20px 20px 20px;
}

@media only screen and (max-width: 991px) {
  #top-section,
  #middle-section {
    display: none;
  }
}

/*----------------------- EVENT & SHOP ADDRESS SECTION STYLE END -----------------------*/

/*----------------------- FOOTER SECTION STYLE START -----------------------*/

#footer-nav {
  background-color: #383535;
}

#footer-nav a {
  color: #eeba2b;
}

#footer-nav h6 {
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #eeba2b;
  font-weight: 600;
}

#footer-nav li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer-nav a,
#footer-nav li {
  text-decoration: none;
  list-style: none;
}

#footer-nav a:hover {
  color: #fff;
  transition: color 450ms ease-in;
}

#footer-nav label {
  color: #eeba2b;
}
#footer-nav .col-sm {
  padding: 50px 50px 50px 50px;
}

#footer-form .btn {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;

  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  letter-spacing: 2px;
  color: #000000;
  background: rgba(238, 186, 43, 0.5);
}

#footer-form .btn:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}

#footer-credits {
  background-color: #000;
  color: #eeba2b;
}

#footer-credits .col-sm-11,
#footer-credits .col-sm-1 {
  padding: 10px 10px 10px 10px;
}

/*----------------------- HOME PAGE END -----------------------*/

/*----------------------- BAKERY MENU PAGE STYLE START -----------------------*/

#bakery-menu {
  background-color: #eeba2b;
}
#bakery-menu .card {
  border: 0;
  background-color: rgba(240, 240, 240, 0.5);
  width: 100%;
  height: 100%;
}
#bakery-menu .card-body {
  width: 100%;
  height: 100%;
}
#bakery-menu h5 {
  font-weight: 600;
  padding: 20px;
}
#bakery-menu p {
  padding: 10px;
}

#download-menu .card-body {
  width: 100%;
  height: 100%;
}

#download-menu a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.06));
  background: rgba(238, 186, 43, 0.5);
  border-radius: 40px;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

#download-menu p {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration-line: underline;
}

/*----------------------- BAKERY MENU PAGE STYLE END -----------------------*/

/*----------------------- BOOKINGS PAGE STYLE START -----------------------*/

#bookings {
  background-color: #eeba2b;
}

#bookings .inner-row {
  background-color: rgba(240, 240, 240, 0.5);
}
#bookings label {
  width: 120px;
}

#bookings input,
#bookings select {
  width: 200px;
}

#bookings button {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.06));
  background: rgba(238, 186, 43, 0.5);
  border-radius: 40px;
  border: 2px solid #000;
  color: #000;
  font-size: 14px;
  padding: 5px 5px 5px 5px;
}

#bookings button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #fff;
  border-color: #fff;
  transition: 700ms ease;
}

/*----------------------- BOOKINGS PAGE STYLE END -----------------------*/

/*----------------------- GALLERY PAGE STYLE START -----------------------*/



/*----------------------- GALLERY PAGE STYLE END -----------------------*/
