<!DOCTYPE html>
<div class="container-fluid">
	<!--  About Hansel's Bakery -->
	<div class="row pt-3 pb-3" id="footer-nav">
		<div class="col-sm-6 col-md-5 col-lg-5 align-items-top d-flex justify-content-left p-3" id="footer-about">
			<nav class="navbar-nav">
				<h3 class="">About Hansel s Bakery</h3>
				<ul class="navbar-nav">
					<li>
						<a href="#" class="clickCustomModal">Product Information</a>
					</li>
					<li>
						<a href="#" class="clickCustomModal">Customer Service</a>
					</li>
					<li>
						<a href="#" class="clickCustomModal">Privacy Policy and GDPR</a>
					</li>
					<li>
						<a href="#" class="clickCustomModal">Testimonials</a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- Footer Sitemap Start -->
		<div class="col-sm-6 col-md-3 col-lg-3 align-items-top d-flex justify-content-left p-3" id="footer-sitemap">
			<nav class="navbar-nav ">
				<h3 class="">Sitemap</h3>
				<ul class="navbar-nav">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="menu.html">Menu</a>
					</li>
					<li>
						<a href="bookings.html">Bookings</a>
					</li>
					<li>
						<a href="gallery.html">Gallery</a>
					</li>
					<li>
						<a href="about.html">Our Story</a>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- Footer Sitemap End -->
		<!-- Footer Form Start -->
		<div class="col-sm-12 col-md-4 col-lg-4 align-items-top d-flex justify-content-left p-3" id="footer-form">
			<form class="" id="join-form-footer">
				<!-- Footer Form Join Email Input -->
				<h3>Join Our Newsletter</h3>
				<div class="form-group">
					<label for="join-email"> Email Address </label>
					<input
            type="email"
            class="form-control"
            id="join-email"
            placeholder="Enter email"
            name="joinEmail"
            required
          />
					<div class="invalid-feedback">
						Please select a valid email.
					</div>
				</div>
				<div class="form-group">
					<div class="form-check">
						<input
              class="form-check-input"
              type="checkbox"
              id="join-checkbox"
              name="joinCheckbox"
              required
            />
						<label class="form-check-label" for="join-checkbox">
              Please, accept our Privacy Policy.
            </label>
					</div>
					<div class="invalid-feedback" style="color: #fff;">
						Please select a valid email.
					</div>
				</div>
				<!-- Footer Form Join Button -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary">
            Subscribe!
          </button>
				</div>
			</form>
		</div>
		<!-- Footer Form End -->
	</div>
	<!-- Footer Copyright Start -->
	<div class="row pt-3" id="footer-copyright">
		<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 align-items-center d-flex justify-content-center">
			<p>Hansel’s Bakery ©. All rights reserved.</p>
		</div>
		<!-- Footer Credits End -->
		<!-- Footer Social Media Icons Start -->
		<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 social-media align-items-right d-flex justify-content-right">
			<ul class="mx-auto">
				<li>
					<a href="https://www.facebook.com" target="_blank">
						<span
                            class="iconify facebook-icon"
                            data-inline="false"
                            data-icon="brandico:facebook-rect"
                            style="color: #eeba2b;"
                        ></span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com" target="_blank">
						<span
                            class="iconify"
                            data-inline="false"
                            data-icon="ant-design:instagram-filled"
                            style="color: #eeba2b;"
                        ></span>
					</a>
				</li>
				<li>
					<a href="https://www.pinterest.com" target="_blank">
						<span
                            class="iconify"
                            data-inline="false"
                            data-icon="bx:bxl-pinterest"
                            style="color: #eeba2b;"
                        ></span>
					</a>
				</li>
			</ul>
		</div>
		<!-- Footer Social Media Icons End -->
	</div>
	<!-- Footer Copyright End -->
</div>