<!DOCTYPE html>
<div class="container-fluid">
  <!--  About Hansel's Bakery -->
  <div class="row" id="footer-nav">
    <div
      class="col-sm align-items-top d-flex justify-content-left"
      id="footer-about"
    >
      <nav class="navbar-nav p-5">
        <h3 class="">About Hansel s Bakery</h3>
        <ul class="navbar-nav">
          <li>
            <a href="#" class="clickCustomModal">Product Information</a>
          </li>
          <li>
            <a href="#" class="clickCustomModal">Customer Service</a>
          </li>
          <li>
            <a href="#" class="clickCustomModal">Privacy Policy and GDPR</a>
          </li>
          <li>
            <a href="#" class="clickCustomModal">Testimonials</a>
          </li>
        </ul>
      </nav>
      <div id="productInformationModal"></div>
      <div id="customerServiceModal"></div>
      <div id="privacyPolicyModal"></div>
      <div id="testimonialsModal"></div>
    </div>
    <!-- Footer Sitemap Start -->
    <div
      class="col-sm align-items-top d-flex justify-content-left"
      id="footer-sitemap"
    >
      <nav class="navbar-nav p-5">
        <h3 class="">Sitemap</h3>
        <ul class="navbar-nav">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="menu.html">Menu</a>
          </li>
          <li>
            <a href="bookings.html">Bookings</a>
          </li>
          <li>
            <a href="gallery.html">Gallery</a>
          </li>
          <li>
            <a href="about.html">Our Story</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Footer Sitemap End -->
    <!-- Footer Form Start -->
    <div
      class="col-sm align-items-top d-flex justify-content-left"
      id="footer-form"
    >
      <form class="p-5" action="/" id="form-response">
        <!-- Footer Form Join Email Input -->
        <h3>Join Our Newsletter</h3>
        <div class="form-group">
          <label for="join-email"> Email Address </label>
          <input
            type="email"
            class="form-control"
            id="join-email"
            placeholder="Enter email"
            required
          />
        </div>
        <div class="form-group">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="join-checkbox"
              required
            />
            <label class="form-check-label" for="join-checkbox">
              Please, accept our Privacy Policy.
            </label>
          </div>
        </div>
        <!-- Footer Form Join Button -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Subscribe!</button>
        </div>
      </form>
    </div>
    <!-- Footer Form End -->
  </div>
  <!-- Footer Copyright Start -->
  <div class="row" id="footer-copyright">
    <div class="col-sm-11 align-items-center d-flex justify-content-center">
      <p class="pt-2">Hansel’s Bakery ©. All rights reserved.</p>
    </div>
    <!-- Footer Credits End -->
    <!-- Footer Social Media Icons Start -->
    <div
      class="col-sm-1 social-media align-items-bottom d-flex justify-content-bottom"
    >
      <ul class="mx-auto pt-2">
        <li>
          <span
            class="iconify facebook-icon"
            data-inline="false"
            data-icon="brandico:facebook-rect"
            style="color: #eeba2b;"
          ></span>
        </li>
        <li>
          <span
            class="iconify"
            data-inline="false"
            data-icon="ant-design:instagram-filled"
            style="color: #eeba2b;"
          ></span>
        </li>
        <li>
          <span
            class="iconify"
            data-inline="false"
            data-icon="bx:bxl-pinterest"
            style="color: #eeba2b;"
          ></span>
        </li>
      </ul>
    </div>
    <!-- Footer Social Media Icons End -->
  </div>
  <!-- Footer Copyright End -->
</div>
