<!DOCTYPE html>
<div class="container-fluid">
  <!--  About Hansel's Bakery -->
  <div class="row pt-3 pb-3" id="footer-nav">
    <div
      class="col-sm-6 col-md-5 col-lg-5 align-items-top d-flex justify-content-left p-3"
      id="footer-about"
    >
      <nav class="navbar-nav ml-3">
        <h3 class="">About Hansel's Bakery</h3>
        <ul class="navbar-nav">
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-a"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="#" class="clickCustomModal">Product Information</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-a"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="#" class="clickCustomModal">Customer Service</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-a"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="#" class="clickCustomModal">Privacy Policy and GDPR</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-a"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="#" class="clickCustomModal">Testimonials</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Footer Sitemap Start -->
    <div
      class="col-sm-6 col-md-3 col-lg-3 align-items-top d-flex justify-content-left p-3"
      id="footer-sitemap"
    >
      <nav class="navbar-nav ml-3">
        <h3 class="">Sitemap</h3>
        <ul class="navbar-nav">
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-s"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="index.html">Home</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-s"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="menu.html">Menu</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-s"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="bookings.html">Bookings</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-s"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="gallery.html">Gallery</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-s"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="about.html">Our Story</a>
          </li>
          <li>
            <span
              class="iconify"
              data-icon="emojione-monotone:letter-s"
              data-inline="false"
              style="color: #eeba2b"
              data-width="14px"
              data-height="14px"
            ></span>
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Footer Sitemap End -->
    <!-- Footer Form Start -->
    <div
      class="col-sm-12 col-md-4 col-lg-4 align-items-top d-flex justify-content-left p-3"
      id="footer-form"
    >
      <form id="join-form-footer ml-5">
        <!-- Footer Form Join Email Input -->
        <h3 class="mb-3">Join Our Newsletter</h3>
        <div class="form-group form-inline pt-2">
          <label for="join-email" class="pr-1">Email:</label>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              id="join-email"
              name="joinEmail"
              placeholder="Enter an email..."
              required
            />
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-at"></i> </span>
            </div>
          </div>
        </div>
        <!-- Footer Form Checkbox Input -->
        <div class="form-group form-inline pt-1">
          <div class="form-check">
            <input
              class="form-check-input pr-1 form-check-lg"
              type="checkbox"
              id="join-checkbox"
              name="joinCheckbox"
              required
            />
            <label class="form-check-label pl-1" for="join-checkbox">
              Please, accept our Privacy Policy.
            </label>
          </div>
        </div>
        <!-- Footer Form Join Button -->
        <div class="form-group form-inline pt-1">
          <button type="submit" class="btn btn-primary">Subscribe!</button>
        </div>
      </form>
    </div>
    <!-- Footer Form End -->
  </div>
  <!-- Footer Copyright Start -->
  <div class="row pt-3" id="footer-copyright">
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 align-items-center d-flex justify-content-center"
    >
      <p>Hansel’s Bakery ©. All rights reserved.</p>
    </div>
    <!-- Footer Credits End -->
    <!-- Footer Social Media Icons Start -->
    <div
      class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 social-media align-items-right d-flex justify-content-right"
    >
      <ul class="mx-auto">
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <span
              class="iconify facebook-icon"
              data-inline="false"
              data-icon="brandico:facebook-rect"
              style="color: #eeba2b"
            ></span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <span
              class="iconify"
              data-inline="false"
              data-icon="ant-design:instagram-filled"
              style="color: #eeba2b"
            ></span>
          </a>
        </li>
        <li>
          <a href="https://www.pinterest.com" target="_blank">
            <span
              class="iconify"
              data-inline="false"
              data-icon="bx:bxl-pinterest"
              style="color: #eeba2b"
            ></span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Footer Social Media Icons End -->
  </div>
  <!-- Footer Copyright End -->
</div>
