<!DOCTYPE html>
<div
  class="modal fade"
  id="customer-service"
  tabindex="-1"
  role="dialog"
  aria-labelledby="customModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row custom-section-title modal-title mx-auto">
          <div class="col-auto mx-auto">
            <h5 class="mx-auto">Customer Service</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div
          class="row outer-row align-items-center d-flex justify-content-center"
        >
          <div class="frame-border">
            <div class="row inner-row">
              <h2>Ordering</h2>
              <p>For orders please use our contact form on our website.</p>

              <h2>Delivery</h2>
              <p>
                We have a limited area of deliveries. If you wish to place an
                order, please get in contact via our contact form or calling at
                <strong>020 252 5689</strong>.
              </p>

              <h2>Click and Collect</h2>
              <p>
                We offer click and collect, you can place your order by calling
                us on 020 252 5689 or by submitting an enquiry via our contact
                form.
              </p>

              <h2>Cancellations</h2>
              <p>
                We only accept cancellations if it is within 5 hours of placing
                an order, otherwise we would not be able to guarantee that your
                order would be cancelled.
              </p>

              <h2>Changes to existing orders</h2>
              <p>
                The time limit to change your order is 5 hours from the time of
                placing it. If it is passed the time limit we cannot guarantee
                changes to your order.
              </p>

              <h2>Refunds and Returns</h2>
              <p>
                If order was cancelled within the time limit we will be ale to
                give full refund. All returns are only possible if there was an
                allergic reaction, however make sure you get in contact to know
                diatery and allergens before placing an order.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
