<!DOCTYPE html>
<div
  class="modal fade"
  id="userResponse"
  tabindex="-1"
  role="dialog"
  aria-labelledby="customModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row custom-section-title modal-title mx-auto">
          <div class="col-auto mx-auto">
            <h1 class="mx-auto" id="responseTitle"></h1>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div
          class="row outer-row align-items-center d-flex justify-content-center"
        >
          <div class="frame-border">
            <div class="row inner-row">
              <p id="responseMessage"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
