<!DOCTYPE html>
<!-- Image Gallery Modal -->
<div
  class="modal fade"
  id="imgModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="imgModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row custom-section-title modal-title mx-auto">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
            <h1 class="cake-name mx-auto">...</h1>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <img src="#" class="originalImage" style="width: 100%; height: 100%" />
      </div>
      <div class="modal-footer">
        <button
          type="button"
          data-toggle="modal"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
