<!DOCTYPE html>
<div
  class="modal fade"
  id="joinModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="joinModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <form>
          <div class="form-group">
            <h3>Join Our Newsletter</h3>
            <label for="join-email">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="join-email"
              placeholder="Enter email"
              required
            />
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="join-checkbox"
                  required
                />
                <label class="form-check-label" for="join-checkbox">
                  Please, accept our Privacy Policy.
                </label>
              </div>
            </div>
            <button type="submit" class="btn" btn-primary>
              Subscribe!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
