<!DOCTYPE html>
<div
  class="modal fade"
  id="product-information"
  tabindex="-1"
  role="dialog"
  aria-labelledby="customModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row custom-section-title modal-title mx-auto">
          <div class="col-auto mx-auto">
            <h5 class="mx-auto">Product Information</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <h2>Freshly Baked Cakes</h2>
        <p>
          Our cakes are freshly baked always using high quality ingridients to
          achieve the best flavours for our products.
        </p>

        <h2>Storage and Shelf Life</h2>
        <p>
          The storage of our products is between 0 and 5 degrees celcius to
          maintain optimum shelf life. We keep our products in storage for a
          maximum of 3 days.
        </p>

        <h2>Dietary & Allergens</h2>
        <p>
          Our products may contain nuts, gluten, diary, eggs. Please, talk to
          one of our staff or send us an email from our contact page to know
          more about it.
        </p>

        <p>Some of our products are available in vegan version at request.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
