<!DOCTYPE html>
<div
  class="modal fade"
  id="testimonials"
  tabindex="-1"
  role="dialog"
  aria-labelledby="customModelLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row custom-section-title modal-title mx-auto">
          <div class="col-auto mx-auto">
            <h1 class="mx-auto">Testimonials</h1>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div
          class="row outer-row align-items-center d-flex justify-content-center"
        >
          <div class="frame-border">
            <div class="row inner-row">
              <p>
                "Really great customer service and their products are just made
                in heaven! Will definitely visit again!" -
                <strong>Jane K</strong>.
              </p>
              <p>
                "Great bakery! They saved my birthday with a last minute cake
                for a party of 20 people! Besides preparing a delicious cake,
                they were super quick and helpful. Thank you Hansel Bakery!" -
                <strong>Tanya B</strong>.
              </p>
              <p>
                "Delicious cupcakes! Best I tried in London!" -
                <strong>Rebbeca L</strong>.
              </p>
              <p>
                "Very professional and friendly staff! Great taste choice for
                their products, will buy again from them!" -
                <strong>Boris J</strong>.
              </p>
              <p>
                "I came across this bakery when visiting London. Most delicious
                macaroons I've tried!" - <strong>Sarah F</strong>.
              </p>
              <p>
                "Thought this place was just another cake shop around London,
                but once I tried their products I couldn't stay away! With the
                amazing service and most tasty products, I am a regular no.
                Definitely a 5 star bakery!" - <strong>Teresa M</strong>.
              </p>
              <p>
                "I am getting my coffee here almost daily with a cupcake, they
                always deliver amazing flavours and great customer service!" -
                <strong>Richard B</strong>.
              </p>
              <p>
                "Best cakes I've ever tasted! Their vegan options are just
                wonderfully made, you wouldn't say it's made with no eggs or
                dairy." -
                <strong>Lucy R</strong>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
